* {
    box-sizing: border-box;
}

body {
    top: 50%;
    left: 50%;
    font-family: sans-serif;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    color: black;
}

.calculator {
}

.flex-container-colomn {
    display: flex;
    /* properti pendukung */
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    text-align: right;
}

.flex-container-row {
    display: flex;
}

.button {
    flex-basis: 25%;
    /* properti pendukung */
    font-size: 1.5em;
    text-align: center;
    padding: 40px;
    border: 3px solid rgb(52, 14, 189);
    background: -webkit-linear-gradient(top, #d2d2d2, #ddd);
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin: 1.5;
}

.double {
    flex-basis: 50%;
}

.display {
    color: solid;
    width: 100%;
    padding: 10px 20px;
    background-color: rgb(136, 33, 204);
    border: 1px solid rgb(4, 51, 73);
    font-size: 2em;
    text-align: right;
}

.operator {
    background: rgb(19, 187, 145);
}

.negative {
    background: rgb(206, 209, 19);
}

.equals {
    background: orange;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);
    border-radius: 5px;
    padding: 30px;
    margin-top: 20px;
}

.button:hover {
    font-weight: bold;
    background: rgb(192, 7, 7);
}